{% extends 'base_business.html' %}
{% load static %}

{% load bootstrap5 %}





{% block content %}

<h1>Shopping Cart</h1>
  {% if cart.orders.count > 0 %}
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total Cost</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in cart.orders.all %}
          <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.product.price }}</td>
            <td>{{ order.get_total_cost }}</td>
            <td><a href="{% url 'remove_from_cart' order.id %}">Remove</a></td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><strong>Total:</strong></td>
          <td>{{ cart.get_total_cost }}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <a href="{% url 'checkout' %}">Checkout</a>
  {% else %}
    <p>Your shopping cart is empty.</p>
  {% endif %}

{% endblock %}