{% extends 'base.html' %}


{% block content %}

<div class="row mt-4">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Trees</a></li>
              <li class="breadcrumb-item active" aria-current="page">All trees</li>
            </ol>
          </nav>
     </div>
    
     <div class="col-md-2">
        <a class="btn btn-success" href="{% url 'add_trees' %}">Add Trees</a>
     </div>
</div>

{% endblock %}