{% extends 'base.html' %}


{% block content %}

<div class="row mt-4">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Trees</a></li>
              <li class="breadcrumb-item active" aria-current="page">All trees</li>
            </ol>
          </nav>
     </div>
    
     <div class="col-md-2 mb-3">
        <a class="btn btn-success" href="{% url 'add_trees' %}">Add Trees</a>
     </div>
</div>

{% include 'partials/_messages.html' %}

<div class="container">
    {% if reforest.count %}
    <table class="table table-stripped table-hover ">
        <thead>
            <tr>
               <th>Trees planted</th>
               <th>Name</th>
               <th>Category</th>
               <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for reforest in reforest %}
            <tr>
                <td>{{reforest.trees_planted}}</td>
                <td>{{reforest.description}}</td>
                <td>{{reforest.category}}</td>
                <td>{{reforest.date}}</td>
                

                <td><a href="{% url 'reforest-edit' reforest.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}